<li class="separator acl-write"></li>
<li class="acl-write hyperlink-icon">
  <a title="Hyperlink">
    <span class="buttonicon buttonicon-link"></span>
  </a>
</li>

<style>
  .hyperlink-icon .buttonicon:before{
    top: 1px !important;
    position: relative;
  }
</style>
