<li class="separator acl-write"></li>
<li class="acl-write hyperlink-icon">
  <a title="Hyperlink">
    <span class="buttonicon"></span>
  </a>
</li>
<li class="acl-write hyperlink-dialog" style="display:none;">
    <input type="text" class="hyperlink-url" placeholder="http://..."/>
    <button type="button" class="hyperlink-save">Ok</button>
</li>

<style>
  .hyperlink-url {
    padding: 6px;
    float: left;
    outline: none;
    border: 1px solid black;
    margin-right: 4px;
  }
  .hyperlink-save {
    float:left;
    padding: 4px 15px;
    border: 3px solid black;
    background: none;
    color: black;
    font-weight: bold;
  }
  .hyperlink-icon {
    font-family:font-awesome;
    margin-top: 2px;
  }
  .hyperlink-icon .buttonicon:before{
    content:"\E83A";
    top: 0px !important;
    position: relative;
  }
  .hyperlink-dialog {
    position: absolute;
    top: 0;
    z-index: 20;
    list-style: none;
  }
</style>
