<li class="separator acl-write"></li>
<li class="acl-write hyperlink-icon">
  <a title="Hyperlink">
    <span class="buttonicon"></span>
  </a>
</li>
<li class="acl-write hyperlink-dialog" style="display:none;">
    <input type="text" class="hyperlink-url" placeholder="http://..."/>
    <button type="button" class="hyperlink-save">Embed Link</button>
</li>

<style>
.hyperlink-url {
  padding:3px;
}
.hyperlink-save {
  padding:3px;
}
.hyperlink-icon {
  font-family:font-awesome;
}
.hyperlink-icon .buttonicon:before{
  content:"\e839";
  top: 2px !important;
}
</style>
