<li class="separator acl-write"></li>
<li class="acl-write hyperlink-icon">
  <a title="Hyperlink">
    <span class="buttonicon"></span>
  </a>
</li>
<li class="acl-write hyperlink-dialog" style="display:none;">
    <input type="text" class="hyperlink-url"/>
    <button type="button" class="hyperlink-save">Save</button>
</li>

