<div class="popup acl-write hyperlink-dialog popup toolbar-popup">
  <div class="hyperlink-container popup-content">
    <input type="text" class="hyperlink-url" placeholder="http://..."/>
    <button type="button" class="btn btn-primary hyperlink-save">Ok</button>
  </div>
</div>

<style>
  .hyperlink-dialog {
    max-width: 300px;
  }
  .hyperlink-container {
    display: flex;
  }
  .hyperlink-url {
    margin: 0 5px 0 0 !important;
  }

</style>