<div class="popup acl-write hyperlink-dialog popup toolbar-popup">
  <div class="hyperlink-container popup-content">
    <div>
      <div>
        <label data-l10n-id="ep_embedded_hyperlinks.popup.lable.link_text">Link text</label>
        <input type="text" class="input hyperlink-text"/>
      </div>
      <div>
        <label data-l10n-id="ep_embedded_hyperlinks.popup.lable.link_address">Link address</label>
        <input type="text" class="input hyperlink-url" placeholder="http://..."/>
      </div>
      <button type="button" class="btn btn-primary hyperlink-save" data-l10n-id="ep_embedded_hyperlinks.popup.ok">Ok</button>
      <button type="button" class="btn btn-primary btn-red hyperlink-remove" data-l10n-id="ep_embedded_hyperlinks.popup.remove">Remove link</button>
    </div>
  </div>
</div>

<style>
  .input {
    display: inline-block;
    clear: both;
    width: 100%;
  }
  .hyperlink-dialog {
    max-width: 300px;
  }
  .hyperlink-container {
    display: flex;
  }
  .hyperlink-url {
    margin: 0 5px 0 0 !important;
  }

</style>
